DEPLOY_DOCKER_CONTAINER_LABEL=sh.acme.autoload.domain.example.com
DEPLOY_DOCKER_CONTAINER_RELOAD_CMD="service nginx force-reload"
DEPLOY_DOCKER_CONTAINER_KEY_FILE=/etc/nginx/ssl/example.com/key.pem
DEPLOY_DOCKER_CONTAINER_CERT_FILE=/etc/nginx/ssl/example.com/cert.pem
DEPLOY_DOCKER_CONTAINER_CA_FILE=/etc/nginx/ssl/example.com/ca.pem
DEPLOY_DOCKER_CONTAINER_FULLCHAIN_FILE=/etc/nginx/ssl/example.com/fullchain.pem
DINGTALK_WEBHOOK=https://oapi.dingtalk.com/robot/send?access_token=xxxxxxxxx
DINGTALK_KEYWORD=acme.sh
ACME_COM_DOMAIN=example.com
ACME_CN_DOMAIN=example.cn