# Database env
YFXS_MAIN_DOMAIN=example.com
ASSETS_SERVER_DOMAIN=assets.example.cn
OSS_PROXY_DOMAIN=your-oss.example.cn
OSS_BUCKET_INTERNAL_DOMAIN=your-bucket.oss-cn-hangzhou-internal.aliyuncs.com
OSS_BUCKET_PUBLICS_DOMAIN=your-bucket.oss-cn-hangzhou-internal.aliyuncs.com